# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
cuda90=1.0=h6433d27_0
cudatoolkit=9.0=h13b8566_0
cudnn=7.1.2=cuda9.0_0
numpy=1.15.3=py36h1d66e8a_0
pytorch=0.4.1=py36ha74772b_0
scipy=1.1.0=py36hfa4b5c9_1