asn1crypto==0.22.0
audioread==2.1.5
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
cycler==0.10.0
decorator==4.1.2
fuel==0.2.0
future==0.16.0
h5py==2.7.0
idna==2.6
joblib==0.11
librosa==0.5.1
llvmlite==0.20.0
matplotlib==2.1.0
mir-eval==0.4
numba==0.35.0
numexpr==2.6.4
numpy==1.13.3
olefile==0.44
picklable-itertools==0.1.1
Pillow==4.2.1
progressbar2==3.18.1
py==1.4.34
pycparser==2.18
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.2.1
pytest-runner==2.11.1
python-dateutil==2.6.1
python-utils==2.2.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.18.4
resampy==0.2.0
scikit-learn==0.19.0
scipy==1.0.0
simplejson==3.11.1
six==1.10.0
style==1.1.0
tables==3.4.2
torch==0.3.0.post4
torchvision==0.2.0
tornado==4.5.2
update==0.0.1
urllib3==1.22
